.nav-top {
  grid-area: top;
  height: 7vh;
  background-color: var(--COLOR_BRAND_ALPHA);
  color: var(--COLOR_TEXT_TWO);
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.brand-dash {
  color: inherit;
  margin-right: auto;
}

.nav-logo {
  height: 1.5rem;
  width: 1.5rem;
}

.nav-top a {
  color: inherit;
  width: fit-content;
}
