.nav-side {
  grid-area: side;
  height: 93vh;
  width: 25vw;
  padding: 1rem;
  border-right: 3px solid var(--COLOR_TEXT_ONE);
}

.nav-side .button {
  width: 100%;
  border: none;
  justify-content: flex-start;
  padding: 8px 0rem;
}

.nav-side .button:hover,
.nav-side-sub-category:hover {
  background-color: var(--COLOR_NEUTRAL_BETA);
}

.nav-side-category-active > svg {
  transform: rotate(270deg);
}

.nav-side-sub-category {
  color: var(--COLOR_TEXT_ONE);
  display: block;
  width: 100%;
  padding: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.nav-side-sub-category-active {
  color: var(--COLOR_BRAND_ALPHA);
  padding-left: 8px;
  border-left: 3px solid var(--COLOR_BRAND_ALPHA);
}
