@import url('./components/alert.css');
@import url('./components/button.css');

/* ---ALERT PAGE--- */
.component__container--alert {
  display: flex;
  flex-flow: column wrap;
}

.component__container--alert .alert {
  margin: 0.25rem 0;
}

/* ---BUTTON PAGE--- */
.component__container--button {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.component__container--button button {
  margin: 0.5rem;
}

.component__container--button .button-link {
  margin: 0;
}
