*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ---BRAND COLORS--- */
  --COLOR_BRAND_ALPHA: #4338ca;
  --COLOR_BRAND_ALPHA_LIGHT: #6366f1;
  --COLOR_BRAND_ALPHA_DARK: #3730a3;

  /* ---BACKGROUND COLORS--- */
  --COLOR_BACKGROUND_ALPHA: #f9fafb;

  /* ---NEUTRAL COLORS--- */
  --COLOR_NEUTRAL_ALPHA: #f3f4f6;
  --COLOR_NEUTRAL_ALPHA_DARK: #d1d5db;

  --COLOR_NEUTRAL_BETA: #c7d2fe;
  --COLOR_NEUTRAL_BETA_DARK: #a5b4fc;

  /* ---TEXT COLORS--- */
  --COLOR-TEXT-ONE: #1f2937;
  --COLOR-TEXT-TWO: #ffffff;

  /* ---SEMANTIC COLORS--- */
  --COLOR_SEMANTIC_ERROR: #ef4444;
  --COLOR_SEMANTIC_ERROR-DARK: #dc2626;

  --COLOR_SEMANTIC_WARNING: #fcd34d;
  --COLOR_SEMANTIC_WARNING-DARK: #fbbf24;
  --COLOR_SEMANTIC_WARNING-TEXT: #b45309;

  --COLOR_SEMANTIC_SUCCESS: #16a34a;
  --COLOR_SEMANTIC_SUCCESS-DARK: #15803d;
}

html,
body {
  background-color: var(--COLOR_BACKGROUND_ALPHA);
  font-family: 'Inter', sans-serif;
  color: var(--COLOR-TEXT-ONE);
}

/* ---ELEMENTS--- */
a {
  text-decoration: none;
  color: var(--COLOR_BRAND_ALPHA);
}

button {
  cursor: pointer;
  transition: 0.3s;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: transparent;
  width: fit-content;
}

p {
  line-height: 150%;
}

pre {
  display: inline;
  color: var(--COLOR-TEXT-TWO);
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--COLOR_BRAND_ALPHA_LIGHT);
}

ul {
  list-style: none;
}
