*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --COLOR-PRIMARY: #4338ca;
  --COLOR-PRIMARY-LIGHT: #6366f1;
  --COLOR-HOVER-PRIMARY: #4f46e5;

  --COLOR-BACKGROUND-ONE: #f9fafb;
  --COLOR-BACKGROUND-TWO: #f3f4f6;

  --COLOR-SECONDARY-ONE: #9ca3af;
  --COLOR-SECONDARY-ONE-LIGHT: #e5e7eb;

  --COLOR-SECONDARY-TWO: #c7d2fe;
  --COLOR-SECONDARY-TWO-DARK: #a5b4fc;

  --COLOR-TEXT-ONE: #1f2937;
  --COLOR-TEXT-TWO: #ffffff;

  /* ---USE SPECIFIC--- */
  --COLOR-DANGER: #ef4444;
  --COLOR-DANGER-DARK: #dc2626;
  --COLOR-WARNING: #fcd34d;
  --COLOR-WARNING-DARK: #fbbf24;
  --COLOR-WARNING-TEXT: #b45309;
  --COLOR-SUCCESS: #16a34a;
  --COLOR-SUCCESS-DARK: #15803d;
}

html,
body {
  background-color: var(--COLOR-BACKGROUND-ONE);
  font-family: 'Inter', sans-serif;
  color: var(--COLOR-TEXT-ONE);
}

/* ---ELEMENTS--- */
a {
  text-decoration: none;
  color: var(--COLOR-PRIMARY);
}

button {
  cursor: pointer;
  transition: 0.3s;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: transparent;
  width: fit-content;
}

p {
  line-height: 150%;
}

pre {
  display: inline;
  color: var(--COLOR-TEXT-TWO);
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--COLOR-PRIMARY-LIGHT);
}

ul {
  list-style: none;
}
