.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

/* ---TYPOGRAPHY--- */
.font-size-md {
  font-size: 1rem;
}

.font-size-ml {
  font-size: 1.25rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.font-size-xl {
  font-size: 2rem;
}

.font-size-xxl {
  font-size: 2.5rem;
}

/* boldness */
.font-weight-600 {
  font-weight: 600;
}

/* ---SPACING MARGIN--- */
.margin-vertical-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-vertical-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-vertical-lg {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.margin-horizontal-sm {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-sm {
  margin-left: 8px;
}

/* ---SPACING PADDING--- */
.padding-md {
  padding: 1rem;
}
